@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1 {
    background-color: rgba(42, 177, 255, 0.637);
    font-family: "Varela Round", Georgia, serif;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

em {
    color:rgb(255, 255, 255);
}

.text {
    background-color: rgba(190, 133, 133, 0.363);
    color: rgb(0, 0, 0);
    font-family: "Varela Round", Georgia, serif;
    text-align: center;
    font-size: 18px;
}

.text.important {
    font-size: 28px;
}

li:hover {
    font-size: 35px;
}

#top-recipes-list {
    
}