@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1,
h2,
h3,
h4,
h5 {
    background-color: rgb(98, 198, 255);
    font-family: "Varela Round", Georgia, serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

.text {
    background-color: rgba(190, 133, 133, 0.363);
    color: rgb(0, 0, 0);
    font-family: "Varela Round", Georgia, serif;
    text-align: left;
    font-size: 18px;
}

.text.important {
    font-size: 28px;
}

a.text {
    font-size: 15px;
}

#top-recipes-list {
    text-align: center;
}